@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
    --white-darker-color: #e2e8f0;
    --success: #31b907;
    --fail: #c40000;
    --form-window: rgb(46, 46, 46);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header {
    padding: 20px 40px;
    /* margin-bottom: 40px; */
    background-color: var(--white-darker-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: row;
}

#main {
    display: grid;
    grid-template-rows: 350px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 350px;
    gap: 40px;
    padding: 40px;
}

.book-cart {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: repeat(5, 1fr);
    background-color: rgb(177, 173, 190);
    border-radius: 15px;
    padding: 50px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.book-cart > * {
    justify-self: center;
}

.book-title {
    font-size: 1.4rem;
    font-weight: bolder;
    
}

.book-icons {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.book-icons > svg {
    width: 40px;
    padding: 0 5px;
}

#add-book {
    padding: 10px 20px;
    border: 1px solid black;
    /* background-color: white; */
    bottom: 5vh;
    right: 5vw;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
}

#add-book:hover {
    transform: scale(1.03);
    transition: 0.1s;
}

#add-book:active {
    transform: scale(1.07);
}

#form-book {
    /* display: flex; */
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 25%;
    left: 25%;

    width: 400px;
    height: auto;
    padding: 30px 30px 60px 30px;
    background-color: var(--form-window);
    border-radius: 20px;
}

#btn-form-close {
    background-color: var(--form-window);
    border: 0;
    align-self: self-end;
    cursor: pointer;
}

#btn-form-close > svg {
    fill: white;
    width: 50px;
}

#btn-form-close > svg:hover {
    fill: var(--fail);
    transform: scale(1.2);
    transition: 0.2s;
}


.active {
    display: flex;
}

.disable {
    display: none;
}

.input-control {
    color: white;
    font-size: 1.2rem;
    /* font-weight: bolder; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
}

.input-control > input {
    font-size: 1.1rem;
    border: 0;
    border-radius: 5px;
    /* width: 100%; */
    padding: 5px 10px;
}

.input-control > input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

#btn-submit {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 20px;
    border: 2px solid var(--success);
    color: var(--success);
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
    cursor: pointer;
}

#btn-submit:hover {
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 0px 0px 20px -7px var(--success);
}

#btn-submit:active {
    transform: scale(0.99);
    /* transition: 0.2s; */
}


#footer {
    text-align: center;
}




























/* ==================== SLIDER =================*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}